.desc {
  height: 300px;
  width: 900px;
  position: relative;
  left: 120px;
  right: 120px;
}

.logo {
  width: 100%;
}
.two {
  /*right: 650px;
    position: absolute;*/
  display: flex;
  flex-wrap: nowrap;
}

.top {
  background: #304352; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#jumb {
  display: flex;
  flex-wrap: wrap;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.hunterIMG {
  width: 50%;
}
.hunterDiv {
  width: 500px;
}
.hunt {
  width: 100%;
}
.quote {
  color: white;
}
.aut {
  color: slategrey;
}
.cars {
  height: 400px;
  width: 1100px;
}
